{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisa</title>
    {% bootstrap_css %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
{% block content %}
    {% include 'topo.html' %}
{% endblock %}
    <header>
        <div id="topo" class="topo-bg d-flex justify-content-center align-items-center">
            <div class="container text-center">
                <h2 class="head-title">Lista de Ativos</h2>
                <p>Os ativos baixos estão sendo monitorados, em caso de preços ultrapassando os limites enviaremos um email avisando sobre a oportunidade</p>
            </div>
        </div>
    </header>
    {% if messages %}
        <div id="message-container">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <div class="container mt-5 my-1">
        <h1 class="text-center mb-4">Ativos Monitorados</h1>
        <div class="d-flex justify-content-center">
            {% if ativos %}
                <form method="post" action="{% url 'core:salvos' %}">
                    {% csrf_token %}
                    <div class="table-responsive">
                        <table border="1">
                            <thead>
                                <tr>
                                    {% for coluna in ativos.0.keys %}
                                        {% if coluna not in 'id' %}
                                            <th class="text-center">{{ coluna|upper }}</th>
                                        {% endif %}
                                    {% endfor %}
                                    <th class="text-center">DELETAR</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ativo in ativos %}
                                <tr>
                                    {% for chave, valor in ativo.items %}
                                        {% if chave == 'updated' %}
                                            <td class="text-center">{{ valor|date:"Y-m-d H:i:s" }}</td>
                                        {% elif chave == 'nome' %}
                                            <td class="text-center">
                                                <a href="{% url 'core:ativo-detail' symbol=ativo.ticker %}">
                                                    {{ valor }}
                                                </a>
                                            </td>
                                        {% elif chave in editaveis %}
                                            <td class="text-center">
                                                <input type="text" name="ativo_{{ ativo.id }}_{{ chave }}" value="{{ valor }}">
                                            </td>
                                        {% elif chave != 'id' %}
                                            <td class="text-center">{{ valor }}</td>
                                        {% endif %}
                                    {% endfor %}
                                    <td class="text-center">
                                        <input type="checkbox" name="selected_ativos" value="{{ ativo.id }}">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="d-inline-block">
                        <button type="submit" class="btn btn-primary">Salvar Alterações</button>
                    </div>
                </form>
            {% else %}
                <p>Não foram encontrados resultados ativos salvos na base de dados.</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
