<header>
    <div id="topo" class="topo-bg">
            <div class="row"> <!-- Added row class -->
                <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
                    <div class="contents">
                        <h2 class="head-title">Utilize a área de busca para pesquisar pelos ativos que deseja monitorar</h2>
                        <p>Clique em 'Buscar Ativos Salvos' para listar os ativos que estão sendo monitorados no momento.</p>
                        <div class="header-button">
                        </div>
                    </div>
                </div>
            </div> <!-- End row -->
    </div>
</header>
